.intro-title {
    text-align: center; 
    margin-top: 60px;
    font-size: 60px; 
    color: #666666;
    font-weight: bold; 
}
.sub-title {
    text-align: center;    
    font-size: 24px;       
    color: #333333;        
    margin-top: 20px;      
    font-weight: normal;  
}
